.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    margin: 10px;
}