.navbar{
    display: flex;
    align-items: center;
}

.navbarPages{
    flex-grow: 10;
    justify-content: flex-end;
    align-items: center;
}

.navbarSettings{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

button{
    padding: 0.7em 1.5em;
    margin: 0.5em;
}